/* Reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
   font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
}

/* base */

html , body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #8d9aa8, #475b71);  
    background: linear-gradient(to right, #8d9aa8, #475b71); 
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#scrollUp {

    background-color:#2C5364;
    border-radius: 50%;
    bottom: 30px;
    right: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 30px;
    height: 70px;
    text-align: center;
    width: 70px;
    line-height: 66px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; 
    position: fixed;
    z-index: 2147483647;
    display: none;
}

#scrollUp:hover {
    background-color:#530607; 
}

.grids {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
}
        
.grids div {
    width: 1px;
    height: 100%;
    background-color: #e0e3e4;
    opacity: .15;
}
.grids div:nth-child(5) {
    background-color: #bababa; 
}
.grids div:first-child, .grids div:last-child {
    background-color: transparent; 
}


header{
    padding: 40px;
    position: relative;
}

.title{
    text-transform: uppercase;
}

header h1.title{
    letter-spacing: 0.2em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.hero{
    position: relative;
    background-image: url('assets/nasa-yZygONrUBe8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: luminosity;
    height: 100vh;
}

section.hero::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00020e;
    opacity: 0.2;
}

.hero img{
    filter: opacity(50%);
    position: absolute;
    z-index: -10;
}

div#particles-js{
    height: 70%;
    opacity: .7;
    position: absolute;
    left: 0;
    right: 0;
}

#top > section.hero > div.container{
    display: flex;
    align-items: center;
    height: 70%;
    position: relative;
}

.hero div.hero-text {
    font-family: 'Roboto Condensed', sans-serif;
}

.hero div.hero-text h4{
    font-weight: 300;
    letter-spacing: 0.07em;
}

.hero div.hero-text h2{
   font-weight: 700;
   letter-spacing: .04em;
   line-height: 1.7;
}

.hero div.hero-text p{
    letter-spacing: 0.04em;
}

.hero a.btn-dark{
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 8px;
    font-family: 'Space Mono', monospace;
    padding: .8rem .85rem;
    letter-spacing: 0.05em;
    opacity: .8;
    font-size: 1em;
    display: block;
    width: 40%;
    margin: auto;
}

section.gallery {
    margin-top: 40px;
    position: relative;
}

.backend-content .dots {
    position: absolute;
    z-index: -10;
    top: -100px;
    left: -150px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); 
    opacity: .3;
}

.backend-content h2 {
    position: absolute;
    font-size: 230px;
    color: rgb(23 47 83 / 10%);
    z-index: -10;
    top: -120px;
    right: 40%;
}

section.gallery article{
    width: 95%;
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #8d9aa8, #475b71);  
    background: linear-gradient(to right, #8d9aa8, #475b71); 
    background-repeat: no-repeat;
}

section.gallery article:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section.gallery article img{
    width: 100%;
    object-fit: cover;
}

section.gallery h2.title , section.gallery h5.title  {
    letter-spacing: 0.095em;
    font-weight: 300;
    margin-bottom: 5px;
    font-family: 'Space Mono', monospace;
}

section.gallery h2.title{
    font-size: 1.5em;
}

section.gallery h5.title {
    margin-bottom: 40px;
    font-size: 1em;
    
}

section.gallery h5.title a{
    color: #fff;
    text-decoration: underline;
}

section.gallery article h3{
    margin-top: 20px;
    font-size: 1.1em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

section.gallery article p{
    font-weight: 350;
    margin-bottom: 15px;
    height: fit-content;
    transition: all 0.1s ease-in;
}

section.gallery article p span.hidden{
    display: none;
}

section.gallery article p a{
    color: #fff;
    text-decoration: underline;
    opacity: .6;
}

section.gallery article button.like-btn{
    background: none;
    color: #fff;
    box-shadow: none;
    border: none;
    font-size: 2em;
    text-align: left;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in;
    mix-blend-mode: luminosity;
    opacity: .7;
}

section.gallery article button.like-btn:hover{
    transform: scale(1.5);
}
section.gallery article time{
    font-size: 0.8em;
    opacity: .8;
    margin: 15px 0;
    display: block;
}

p.lead{
    margin-bottom: 20px;
}

/* mobile style */
/* Extra small devices (phones, less than 768px) */

.hero{
    height: 100vh;
}

.hero img{
    right: -25%;
    top: 10%;
    width: 100%;
}

.display-1{
    font-size: calc(1.7rem + 4.5vw);
}

#top > section.hero > div.container{
    flex-wrap: wrap;
    justify-content: center;
}
.hero div.hero-text{
    text-align: center;
}

.hero div.hero-text h4{
    font-size: 1.3em;
}

.hero div.hero-text p{
    font-size: 1em;
}

.backend-content{
    display: none;
}


/* Small devices (tablets, 768px and up) */
@media  only screen and (min-width: 768px) { 
   
}


/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { 

    .hero{
        background-attachment: fixed;
    }

    .hero a.btn-dark{
        padding: 1.2rem 1.3rem;
        font-size: 1em;
    }

    section.gallery article img.left-align{
        float: left;
    }
    section.gallery article img.right-align{
        float: right;
    }
   
    section.gallery article img{
        width: 40%;
        margin: 15px;
    }

    div.info-wrapper{
        text-align: justify;
    }

    #top > section.hero > div.container{
        flex-wrap: nowrap;
        justify-content: unset;
    }
    .hero div.hero-text{
        text-align: unset;
    }

    .hero div.hero-text h4{
        font-size: 1.6em;
    }

    .hero div.hero-text p{
        font-size: 1.1em;
    }

    .backend-content{
        display: block;
    }

}


/* Large devices (large desktops, 1200px and up) */
@media  only screen and (min-width: 1220px) { 

     /* section.gallery article.col-lg-3{
        width: 30%;
    } */
   
}