/* Reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
   font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
}

/* base */

html , body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #8d9aa8, #475b71);  
    background: linear-gradient(to right, #8d9aa8, #475b71); 
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#scrollUp {

    background-color:#2C5364;
    border-radius: 50%;
    bottom: 30px;
    right: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 30px;
    height: 70px;
    text-align: center;
    width: 70px;
    line-height: 66px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; 
    position: fixed;
    z-index: 2147483647;
    display: none;
}

#scrollUp:hover {
    background-color:#530607; 
}

header{
    padding: 40px;
    position: relative;
}

.title{
    text-transform: uppercase;
}

header h1.title{
    letter-spacing: 0.2em;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.hero{
    position: relative;
    background-image: url('assets/nasa-yZygONrUBe8-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.hero::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00020e;
    opacity: 0.2;
}

.hero img{
    filter: opacity(50%);
    position: absolute;
    z-index: -10;
}

.hero div#particles-js{
    height: 70%;
    opacity: .7;
    position: absolute;
    left: 0;
    right: 0;
}

#top > section.hero > div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.hero div.hero-text h2{
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: 'Space Mono', monospace;
}

.hero div.hero-text a.btn-dark{
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 2px;
    font-family: 'Space Mono', monospace;
    padding: .8rem .85rem;
    letter-spacing: 0.05em;
    opacity: .8;
    font-size: 1em;
    display: block;
    width: 40%;
    margin: auto;
}

section.gallery {
    margin-top: 40px;
}

section.gallery article{
    width: 95%;
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
}

section.gallery article:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section.gallery article img{
    width: 90%;
    height: 40%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.gallery h2.title{
    font-size: 1.5em;
    letter-spacing: 0.095em;
    font-weight: 300;
    margin-bottom: 40px;
    font-family: 'Space Mono', monospace;
}

section.gallery article h3{
    margin-top: 20px;
    font-size: 1.1em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

section.gallery article p{
    font-weight: 350;
    margin-bottom: 15px;
    height: fit-content;
    transition: all 0.1s ease-in;
}

section.gallery article p span.hidden{
    display: none;
}

section.gallery article p a{
    color: #fff;
    text-decoration: underline;
    opacity: .6;
}

section.gallery article button.like-btn{
    background: none;
    color: red;
    box-shadow: none;
    border: none;
    font-size: 2em;
    text-align: left;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in;
}

section.gallery article button.like-btn:hover{
    transform: scale(1.5);
}
section.gallery article time{
    font-size: 0.8em;
    opacity: .8;
    margin: 15px 0;
    display: block;
}

p.lead{
    margin-bottom: 20px;
}

/* mobile style */
/* Extra small devices (phones, less than 768px) */

.hero{
    height: 100vh;
}

.hero img{
    right: -25%;
    top: 10%;
    width: 100%;
}

.display-1{
    font-size: calc(1.7rem + 4.5vw);
}


/* Small devices (tablets, 768px and up) */
@media  only screen and (min-width: 768px) { 
    .hero{
        height: 70vh;
    }
    section.hero img{
        width: 60%;
        right: 0;
        top: 10%;
    }
}


/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { 

    .hero{
        height: 100vh;
    }

    .hero div.hero-text a.btn-dark{
        padding: 1.2rem 1.3rem;
        font-size: 1em;
    }

    section.hero img{
        width: 55%;
        right: 5%;
        top: 0;
    }

    #top > section.hero > div.container{
        position: relative;
    }

    section.gallery article.col-lg-3{
        width: 47%;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media  only screen and (min-width: 1220px) { 

    section.hero img{
        width: 42%;
    }

     section.gallery article.col-lg-3{
        width: 30%;
    }

    .hero div.hero-text h2{
        line-height: 1.4;
    }

    .display-1 {
        font-size: 5.5rem;
    }
   
}